.footer{
    background-color: var(--purple);
    /* height: 200px; */
    margin-top: 2em;
}

.footer {
    color: white;
}

.footer a{
    width: 100%;
}
.footer__brand p{
    margin: 0;
    font-size: 13px;
    margin-left: 1.2em;
}

.footer__socialMedia h4{
    margin: .5em 0;
}
.footer a{
    color: white;
    text-decoration: underline;
    margin: .5em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
}
.footer__socialMedia a{
    color: white;
    text-decoration: underline;
    margin: .5em 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5em;
}

@media (max-width: 700px) {
    .footer{
        display: none !important;
    }
    .footer__brand, .footer__socialMedia, 
    .footer__partners, .footer__partners div{
        width: 100%;
    }
    .footer__partners {
        margin-top: 2em;
    }
  }