.professional__photo{
    max-height: 400px;
    overflow: hidden;
    max-width: 80vw;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.professional__photo img{
    min-width: 200px;
    height: auto;
}

.professional__image{
    width: calc(100% - 3em);
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;align-items: center;
    justify-content: center;
    margin: 1em;
}

.professional__image img{
    /* height: 180px; */
}
.professional__chips .MuiChip-root{
    margin-right: .5em;
}
.professional__information{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.05);
}
.professional__details p{
    display: flex;
    align-items: center;
    gap: .5em;
}