#root{
  display: flex;
  flex-direction: column;
  gap: 2em;

}
body{
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: "Space Grotesk", sans-serif;
  color: var(--purple)
}

:root{
  --orange: #f5941D;
  --purple: #28287c;
  --pink: #cb145b;
}

a{
  text-decoration: none;
  color: inherit;
  color: var(--purple);
}
.search__result{
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.searchComponent{
  margin: 2em auto;
  gap: 2em;
}

.single_line_ellipsis {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 700px) {
  #image-tona{
    display: none;
  }
}