body{
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
  background-color: #f7f7f7;
}
h1{
  font-family: "Space Grotesk", sans-serif;
  color: var(--purple)
}

:root{
  --orange: #f5941D;
  --purple: #28287c
}

a{
  text-decoration: none;
  color: inherit;
  width: 100%;
  color: var(--purple);
}
.search__result{
  text-decoration: none;
  color: inherit;
  width: 100%;
}

