#root{
  display: flex;
  flex-direction: column;
  gap: 2em;

}
body{
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
h1{
  font-family: "Space Grotesk", sans-serif;
  color: var(--purple)
}

:root{
  --orange: #f5941D;
  --purple: #28287c;
  --pink: #cb145b;
}

a{
  text-decoration: none;
  color: inherit;
  color: var(--purple);
}
.search__result{
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.searchComponent{
  margin-top: 2em;
  gap: 2em;
}
